<div class="navbar-iggrow">
  <div class="logo-area">
    iggrow
  </div>
  <ul>
    <li class="navbar-item"><a href="">Dashboard</a></li>
    <li class="navbar-item"><a href="">Followers</a></li>
    <li class="navbar-item"><a href="">Hashtags</a></li>
    <li class="navbar-item"><a href="">Analytics</a></li>
    <li class="navbar-item"></li>
    <li class="navbar-item"></li>
    <li class="navbar-item"><a href="">Settings</a></li>
  </ul>
</div>
<div class="content-dashboard"></div>
