@import "bootstrap-sprockets";
@import "bootstrap";

// Application
@import "application/home";

// Config
@import "config/variables";

// Components
@import "components/navbar";


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

* {  box-sizing: border-box;}


/*

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Josefin Sans', sans-serif;

*/
