@import "bootstrap-sprockets";
@import "bootstrap";

// Config
@import "config/variables";

// Application
@import "application/home";

// Components
@import "components/navbar";
@import "components/cards";

// Pages
@import "pages/dashboard";


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F6F6F6;
}

* {  box-sizing: border-box;}


/*

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Josefin Sans', sans-serif;

*/
