<div class="left">
  <h1 class="main-title">
    Libérez tout votre potentiel créatif avec Pilar
  </h1>
</div>

<div class="right">
  <h2>Connectez-vous</h2>
  <input type="" placeholder="username" class="login-input">
  <input type="" placeholder="password" class="login-input">
  <button class="btn-primary">LOGIN</button>
</div>
