<div class="left">
  <div class="logo">
    iggrow
  </div>
  <h1 class="main-title">
    Keep focus on creating good content.
    <span>We do the rest...</span>
  </h1>
</div>

<div class="right">
  <h2>Connectez-vous</h2>
  <input type="" placeholder="username" class="login-input">
  <input type="" placeholder="password" class="login-input">
  <button class="btn-primary">LOGIN</button>
</div>
